* {
	font-weight: lighter;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
		font-family: Helvetica;
		font-weight: normal;
		margin: 0;
}

.left {
	float: left;
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.right {
	float: right;
	width: 50%;
	background-color: #fff362;
	padding-left: 2%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

h1 {
	top: 14px;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 105px;
	display: block;
	text-transform: uppercase;
}

#bringing {
	color: #f3e624;
	text-align: right;
	position: absolute;
	top: 14px;
	right: 35px;
	margin: 0;
}

.details3 {
	padding: 30px 0 0 0;
}

.details3 > div:last-child {
	color: #75cfff;
}

#pansori {
	color: #75cfff;
	text-align: left;
	position: absolute;
	top: 14px;
	left: 24px;
	margin: 0;
	padding: 0;
}

h2 {
	color: #86d5ff
}

h3 {
	font-size: 36px;
	color: #9b9b9b;
	font-family: Helvetica;
	font-weight: bold;
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 100px;
}

h3 > div {
	line-height: 40px;
}

.first {
	font-family: Helvetica;
	font-weight: normal;
	margin-top: 0;
}

h4 {
	font-size: 28px;
	color: #4a4a4a;
	width: 300px;
}

#secure {
	text-shadow: 0px 1px 0px 0px rgba(255, 254, 255, 0.5);
	font-size: 28px;
	color: #4a4a4a;
	font-family: Helvetica;
	font-weight: normal;
	padding: 5px 15px;
	border: 1px grey solid;
	/*border-radius: 3px;*/
	background-color: white;
	position: absolute;
	top: 404px;
	left: 29px;
}

#image {
	clear: both;
}

#main {
	width: 100%;
	background-color: #fff362;
	padding: 3% 5%;
	box-sizing: border-box;
}

#intro1 {
	font-size: 36px;
	margin-bottom: 25px;
	/*width: 100%;*/
}

#intro2 {
	font-size: 32px;
	color: #4a4a4a;
}

#bottom {
	text-align: center;
}

#bottom > h2 {
	font-family: Helvetica;
	font-weight: bolder;
	font-size: 48px;
	font-color: #86d5ff;
	margin-bottom: 0;
}

#buttons > button {
	width: 250px;
	background-color: #86d5ff;
	border: 2px solid #86d5ff;
	border-radius: 6px;
	color: white;
	margin: 2%;
	font-size: 20pt;
	font-family: Helvetica;
	font-weight: bolder;
}

#more {
	/*display: inline;*/
	width: 55%;
	font-size: 36px;
	color: #4a4a4a;
	text-align: center;
	margin: 0 auto;
}

#more > a {
	font-family: Helvetica;
	font-weight: bolder;
	text-decoration: none;
	color: #4a4a4a;
}

.bottom-image {
	position: absolute;
	background-image: url(images/neue-skyline.png);
	width: 100vw;
	height: 395px;
	top: 631px;
}

.top-image {
	background-image: url(images/liberty_skyline-01.png);
	width: 100vw;
	height: 610px;
	position: absolute;
	top: 292px;
	mix-blend-mode: multiply;
}

#top {
	position: relative;
	height: calc(631px + 395px);
	width: 100%;
}

.details {
	position: absolute;
	top: 113px;
	left: 24px;
	padding: 20px 0 0 0; /*need padding amount*/
}

.details2 {
	position: absolute;
	left: 39px;
	top: 466px;
	width: 234px;
	margin: 0;
}


/* width, position values, etc will need to change once font is finalized*/
.line {
	position: absolute;
	left: 6px;
	top: 21px;
	background: linear-gradient(180deg, #f8e71c, #75cfff);
	width: 7px;
	height: 697px;
}

a {
	text-decoration: none;
}

button > a {
	color: white;
}

@media screen and (max-width: 1350px){
	h1 {
		font-size: 76px;
	}
	h3 {
		font-size: 30px;
	}
	h4 > .details2,
	#secure {
		font-size: 24px;
	}
	.line {
		left: 5px;
		width: 5px;
	}
	#intro1 {
		font-size: 32px;
	}
	#intro2 {
		font-size: 28px;
	}
	#bottom > h2,
	#more {
		font-size: 38px;
	}
	button > a {
		font-size: 34px;
	}
}

@media screen and (max-width: 1000px){
	h1 {
		font-size: 50px;
	}
	h3 {
		font-size: 20px;
	}
	h4 > .details2,
	#secure {
		font-size: 18px;
	}
	.line {
		left: 4px;
		width: 3px;
	}
	#intro1 {
		font-size: 24px;
	}
	#intro2 {
		font-size: 20px;
	}
	#bottom > h2,
	#more {
		font-size: 30px;
	}
	button > a {
		font-size: 24px;
	}
}