<div class="form">

<h3>Values</h3>

<% if @current_values.length <= 3 %>
  <%= render 'form' %>
<% end %>

<div class='tagging'>Your current values:</div>

<% @current_values.each do |value| %>
   <div class='tag-item'>
		<%= value.value %>
  	<%= button_to "Remove", profile_valuetagging_path(@profile, value[:id]), :method => :delete %>
  </div>
<% end %>

<%= link_to 'Go Back', profile_path(current_user), class: 'tag-link' %>


</div>
