<h1>Skills</h1>
<ul>
<% @current_skills.each do |skill| %>
  <li><%= skill.skill %></li>
  <%= button_to "Remove", profile_skilltagging_path(@profile, skill[:id]), :method => :delete %>
  <% end %>
</ul>
<% if @current_skills.length <= 6 %>
<%= render 'form' %>
<% end %>
