
	<div id="top">
		<div class="left">
			<h1 id="bringing">
				<div class="line"></div>
				<div>Bringing</div>
				<div class="details3">
					<div>Asian</div>
					<div>women</div>
					<div>to the</div>
					<div>top.</div>
				</div>
			</h1>
		</div>

		<div class="right">
			<h1 class='mentor about-title'>ABOUT</h1>
			<p class='about-content'>What is Pansori.us all about? Well, we're curating a collection of inspirational series of Asian women who broke out of cultural architects, and empowering others to join the movement.
We're leveling up high potential Asian women to leadership roles in tech by matching them with high level contacts and bringing transparency to mentor sponsorships.</p>
			<p class='about-content'>Pansori.us features mentor-mentee matching, a guide to what to do next in a mentorship, and three acts of advocacy on behalf of the protege: introductions to high level contacts, professional recommendations for advancement to a leadership position, and/or provide opportunities to fullfill leadership assignments, while providing the protege cover for growth. </p>
			<p class='social'>
      <a href="https://www.facebook.com/pansori.us/">
        <i class="fa fa-facebook-square fa-3x"></i>
      </a>
      <a href='https://twitter.com/pansorius'>
        <i class="fa fa-twitter-square fa-3x"></i>
      </a>
      <a href='https://www.instagram.com/pansori.us/'>
        <i class="fa fa-instagram fa-3x"></i>
      </a>
    </p>
		</div>

		<div class="top-image"></div>
		<div class="bottom-image"></div>
	</div>
