<div class="main-container">

	<div class="protege-column left">
		<h1>Protege</h1>
		<p>Pansori.us facilitates mentorships between high potential Asian women and leaders who will advocate for their advancement to leadership in tech.  It focuses on mentorship as a primary means to exploring leadership roles and discovering career advancement opportunities.  It provides more direct and informative connections on a platform where potential proteges are looking to improve talent development and cross-cultural mentoring to increase their skillset.</p>
	</div>

	<div class="mentor-column right">
		<h1>Mentor</h1>
		<p>Pansori.us mentors are leaders in the tech industry: CEOs, founders of startups, and C-suite executive level officers, both current and retired.  Each offers 1-8 hours of volunteering each month to check in with their protege/s through the leadership advancement program.  For mentors, it offers an influential platform to a committed network of proteges and leaders.  They are now mindfully extending their network to Asian women to create a work culture that is diverse and inclusive.</p>
	</div>

	<div id="portal">
		<h2>Hi there! Today, I'm seeking a:</h2>
		<div class="buttons seeking">
			<button><%= link_to 'protege', profiles_path(:role => 'protege'), class: 'button' %></button> <button><%= link_to 'mentor', profiles_path(:role => 'mentor'), class: 'button' %></button>
		</div>
	</div>
</div>

<p class='social-foot'>
		<a href="https://www.facebook.com/pansori.us/">
			<i class="fa fa-facebook-square fa-3x"></i>
		</a>
		<a href='https://twitter.com/pansorius'>
			<i class="fa fa-twitter-square fa-3x"></i>
		</a>
		<a href='https://www.instagram.com/pansori.us/'>
			<i class="fa fa-instagram fa-3x"></i>
		</a>
	</p>
