<div id="nav-container">
	<div id="nav-text">
		<span id="nav-title">Pansori.us</span>
		<span id="links">
			<a>about</a> <a>sign up</a> <a>login</a>
		</span>
	</div>
</div>

<div id="protege-column" class="left">
	<h1>Protege</h1>
	<p>Lorem ipsum dolor sit amet, officiis adipisci nam ut. Facilis fastidii sed te, ut abhorreant efficiantur qui, albucius adversarium te vis. Et adhuc decore verterem vel. No discere maluisset posidonium eum. In eum ludus accusam ponderum.</p>
</div>

<div id="mentor-column" class="right">
	<h1>Mentor</h1>
	<p>Lorem ipsum dolor sit amet, officiis adipisci nam ut. Facilis fastidii sed te, ut abhorreant efficiantur qui, albucius adversarium te vis. Et adhuc decore verterem vel. No discere maluisset posidonium eum. In eum ludus accusam ponderum.</p>
</div>

<div id="portal">
	<h2>Hi there! Today, I'm seeking a:</h2>
	<div class="buttons seeking">
		<button>protege</button> <button>mentor</button>
	</div>
</div>