<div class='email-new'>
  <%= form_tag profile_email_index_path(@recipient) do %>
    <%= text_area_tag :email_body, @template, class:'email-body' %>
    <%= submit_tag 'Send Message', class:'email-send' %>
  <% end %>
</div>
