/*
 *= require font-awesome
 */

.mentor {
  color:#75cfff;
}

.protege {
  color: #fff362;
}

.notice {
  margin-left: 10%;
}

.protege-column, .mentor-column {
  height: 250px;
  top: 150px;
  margin-bottom: 50px;
}

.protege-column {
  text-align: right;
  padding: 0px 25px;
  clear: both;
}

.mentor-column {
  background: inherit;
  border-left: 1px solid black;
  padding-right: 25px;
}

.mentor-column > h1 {
  color: #75cfff;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.protege-column > h1 {
  color: #fff362;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#nav-container {
  border-bottom: 1px solid grey;
  position: relative;
  width: 100%;
  height: 100px;
  background-image: url(asset-path("liberty_skyline-01.png"));
  background-position: 100px;
}

.nav-text {
  line-height: 100px;
  height: 100px;
  top: 50%;
}

.nav-title {
  display: inline-block;
  width: 100px;
  margin: 0 5%;
  text-transform: uppercase;
  float: left;
  padding: 0;
  color: #86d5ff;
  font-size: 48px;
}

.links {
  float: right;
  width: 350px;
  display: inline-block;
}

.links > a, .profile-links > a {
  padding: 0px 5%;
  font-size: 20px;
  color: inherit;
}

.profile-links > a {
  padding: 0px 1%;
  color: grey;
}

.nav-title > a, .links > a, .profile-links > a {
  text-decoration: inherit;
}

.nav-title > a:hover, .links > a:hover, .profile-links > a:hover {
    text-decoration: underline
}

a:visited {
  color: inherit;
}

.main-container {
  margin-top: 50px;
  background-image: url(asset-path("liberty_skyline-01.png"));
  height: 500px;
}

#portal {
  clear: both;
  position: absolute;
  top: 450px;
  width: 100%;
  text-align: center;
}

#portal > h2 {
  color: black;
}

.seeking > button:first-child{
  background-color: #fff362;
  border: 2px solid #fff362;
}

/*for the show page*/

.main-top {
  position: relative;
}

.experience {
  margin: 50px 0px 50px;
}

.left-col {
  float: left;
  width: 25%;
  padding: 10px 1%;
  background-color: rgb(246,246,246);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 50;
  position: relative;
  border-radius: 0 0 10px 0
}

.right-col {
  float: right;
  width: 70%;
  margin-left: 5%;
  display: inline-block;
  z-index: 50;
  position: relative;
}

.meet {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
}

.role-loc {
  color: #86d5ff;
  font-size: 20px;
}

.role {
  top: 100px;
  left: 250px;
  width: 75%;
}

.insights {
  left: 250px;
}

.experience {
  top: 313px;
  left: 250px;
}

.avatar {
  top: 0;
  left: 0;
}

.values h2, .skills h2 {
  margin-left: 18%;
}

/*#value0{
  top: 410px;
}
#value1{
  top: 500px;
}
#value2{
  top: 590px;
}*/

/* Below is for /profile */

.search-boxes {
  margin: 20px 5px;
}

.profile-card {
  margin: 10px 3% 0 3%;
  height: 300px;
  background-color: rgba(182, 182, 182, 0.13);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5)
}

.profile-card > a {
  text-decoration: inherit;
}

.card-left {
  padding-top: 1%;
  float: left;
  margin-left: 1%;
  width: 15%;
}

.card-right {
  float: right;
  width: 80%;
  padding-top: 5%;
  padding-left: 2%;
  color: black;
}

.profile-card .user-img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 2px solid #75cfff;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  z-index: 90;
  position: relative;
}

.profile .user-img {
  max-width: 200px;
  /*max-height: 150px;*/
  /*position: absolute;*/
  /*border-radius: 75px;*/
  /*border: 2px solid #75cfff;*/
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
  border-radius: 5px;
}

.values > div, .skills > div {
  display: block;
  width: 175px;
  text-align: center;
  text-transform: uppercase;
  background-color: #75cfff;
  margin: 10px auto;
  border-radius: 4px;
  color: white;
  /*z-index: 90;*/
  position: relative;
}

.card-line {
  width: 3px;
  height: 150px;
  color: #75cfff;
  float: right;
  background-color: #75cfff;
  margin: 0 auto;
  display: inline-block;
  z-index: 9;
  margin-left: 7.15%;
  position: absolute;
  margin-top: 100px;
}

.quote {
  font-size: 40px;
  font-family: 'AbadiMT-CondensedLight', 'Helvetica';
  color: #75cfff;
}

.button {
  color: inherit;
  text-decoration: inherit;
}

.profile h2, .profile h4 {
  display: inline-block;
  padding-bottom: 0;
  margin-bottom: 0;
}

.experience h4, .experience h2, .insights h2 {
   display: inline-block;
   margin: 0;
}

.experience h4 {
  font-size: 24px;
}

.edit-exp {
  display: inline-block;
}

/* style for email message*/
.email-new {
  max-width: 75vw;
  margin: 0 auto;
  position: relative;
}

.email-body,
.email form {
  width: 75vw;
  height: 500px;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.email-send {
  position: absolute;
  top: 525px;
  height: 46px;
  margin: 0 auto;
  left: 0;
}

.form h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tagging {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #75cfff;
}

.tag-item, .new-tag-item {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

.tag-button {
  display: inline-block;
  position: relative;
}

.tag-link {
  margin-top: 25px;
  display: block;
}

.email-info {
  width: 400px;
  margin: 10px auto;
  text-align: left;
}

.form {
  margin-left: 5%;
}

.label, .input {
  display: inline-block;
  width: 300px;
}
